.advantages{
    background-color: rgb(241, 237, 231);
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantages-title{
    font-family:"Playfair Display" ;
    text-align: center;
    margin-bottom: 15px;
}

.advantages-text{
    font-family:"Playfair Display" ;
    text-align: center;
    margin-bottom: 30px;
}

.advantages-text-my{
    font-family:"Playfair Display" ;
    padding-top: 20px;
    margin-bottom: 20px;
}

.advantages-list{
    font-family:"Playfair Display" ;
    font-size: 15px;
}

.advantages-item{
    margin-bottom: 10px;
}

.clock{
    margin-right: 5px;
}

.products{
    margin-right: 5px;
}