.catalog{
    background-color: #ffdbe6;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.catalog-title{
    font-family: "Playfair Display";
    text-align: center;
}

.catalog-item{
    background-color: rgb(255, 255, 255);
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
   box-shadow: -2px 7px 38px 9px rgba(17,17,17,0.58);
   margin-top: 30px;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
}

.catalog-link{
    text-decoration: none;
}

.informetion{
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

.cake{
    font-size: 25px;
    font-family: "Playfair Display";
    color: black;
}