.catalog{
    background-color: #ffdbe6;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.catalog-title{
    font-family: "Playfair Display";
    text-align: center;
}

.catalog-item{
    background-color: rgb(255, 255, 255);
   box-shadow: -7px 9px 8px 0px rgba(34, 60, 80, 0.2);
   margin-top: 30px;
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
}

.catalog-link{
    text-decoration: none;
}

.informetion{
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}

.cake{
    font-size: 25px;
    font-family: "Playfair Display";
    color: black;
}

.catalog-photo {
    overflow: hidden;
}

.catalog-photo img {
    transition: transform 0.5s;

}

.catalog-photo:hover img {
    transform: scale(1.1);
}