.hero{
    background-image: linear-gradient(rgba(34, 35, 39, 0.4), rgba(34, 35, 39, 0.4)),
    url(../images/title-cake.jpg);
      background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo{
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Tangerine";
    letter-spacing: 0.03em;
    font-size: 70px;
    line-height: 28px;
    text-decoration: none;
    padding-top: 70px;
}

.contact-tel{
    font-family: "Open+Sans";
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 70px;
}

.title{
    font-family: "Open+Sans" ;
    color: rgb(253, 253, 253);
    font-size: 30px;
    margin-top: 80px;
}

.address{
     font-family: "Open+Sans";
    display: block;
    text-decoration: none;
     color: rgb(255, 254, 254);
    margin-top: 50px;
    padding-bottom: 240px;
}

