.header{
  position: absolute;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 18px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo{
    margin-right: 97px;
}

.headerList {
  display: flex;
  gap: 41px;
margin-right: 41px;
}

.headerListElement {
  color: #977a58;
  font-family: Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerListElement{
  position: relative;
  cursor: pointer;
}

.headerListElement:hover:before{
  transform: scaleX(1);
transition: transform 0.25s;
}

.headerListElement:before{
content: "";
width: 100%;
height: 1px;
background-color: #977A58;
position: absolute;
top: 30px;
transform: scaleX(0);
transition: transform 0.25s;

}

.headerBasket{
margin-right: 99px;
}

.headerFaPhone{
    color: #977A58;
}

.headerTel {
    margin-left: auto;
  color: #977a58;
  font-family: Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  gap:10px;
  display: flex;
    align-items: center;
}
